* {
  margin: 0;
  padding: 0;
}
a {
  color: #000;
}
@media screen and (min-width: 750px) {
  html {
    font-size: 75px !important;
  }
}
@media screen and (max-width: 320px) {
  html {
    font-size: 32px !important;
  }
}
body {
  width: 10rem;
  min-width: 320px;
  margin: 0 auto;
  font-size: 0.32rem;
  background-color: #f5f5f5;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
header {
  height: 0.90666667rem;
  display: flex;
  background-color: #ffffff;
  position: fixed;
  width: 10rem;
  min-width: 320px;
  z-index: 999;
  border-bottom: 0.02666667rem solid #9d9d9d;
}
header .search {
  flex: 1;
  background-color: #fff;
  line-height: 0.90666667rem;
  padding-left: 0.46666667rem;
  font-size: 0.37333333rem;
}
.banner {
  padding-top: 0.90666667rem;
}
.banner #inner {
  overflow: hidden;
  height: 4.81333333rem;
  position: relative;
}
.banner #inner ul {
  list-style: none;
  position: absolute;
  width: 800%;
  left: 0;
  transition: left 300ms linear;
}
.banner #inner ul li {
  float: left;
}
.banner #inner ul li img {
  width: 10rem;
  display: block;
}
.banner #inner .list {
  display: flex;
  position: absolute;
  left: 50%;
  margin-left: -0.66666667rem;
  bottom: 0.53333333rem;
}
.banner #inner i {
  width: 0.13333333rem;
  height: 0.13333333rem;
  border-radius: 10px;
  background-color: #cccccc;
  text-align: center;
  margin: 0 0.13333333rem;
  cursor: pointer;
}
.banner #inner .current {
  background-color: #fff;
  color: #fff;
}
.banner11 {
  width: 10rem;
}
.banner11 img {
  max-width: 100%;
}
.banner11 i.material-icons {
  font-size: 30%;
  margin-bottom: 1.6rem;
}
.banner11 .container {
  width: 100%;
  margin: 0 auto;
}
.tttt {
  padding-top: 0.4rem;
}
.ttttt {
  padding-bottom: 0.4rem;
}
.title {
  text-align: center;
  height: 100%;
  line-height: 0.8rem;
}
.title h2 {
  font-size: 0.32rem;
  font-weight: bold;
  color: #0285b4;
}
.title .line {
  margin: 0 auto;
  width: 0.8rem;
  height: 0.02666667rem;
  background: #f97c29;
}
.title p {
  color: #666666;
  font-size: 0.32rem;
  display: block;
}
.banner2 {
  display: block;
  display: flex;
  width: 100%;
}
.banner2 img {
  flex: auto;
  flex-direction: column;
  width: 60%;
  display: block;
}
nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 15%;
}
nav a {
  flex: 40%;
  height: 2.66666667rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin: 0.06666667rem 0.06666667rem;
}
nav a img {
  width: 2.66666667rem;
  margin: 0.13333333rem 0;
}
nav a span {
  color: #666;
  font-size: 0.32rem;
}
.lis {
  background-color: #ffffff;
}
.lis .tt {
  border-top: 0.01333333rem solid #9d9d9d;
}
.lis .search {
  background: url('../imgs/shouye/02为什么选择我们/Snipaste_2019-12-17_21-51-11.png') no-repeat 0.13333333rem;
  background-size: 0.46666667rem;
  background-color: #fff;
  line-height: 1.04rem;
  font-size: 0.24rem;
  border-bottom: 0.01333333rem solid #9d9d9d;
  padding-left: 0.73333333rem;
}
.nav1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 0.2rem;
}
.nav1 a {
  flex: 20%;
  height: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  margin: 0.2rem 0.2rem;
}
.nav1 a img {
  width: 1.46666667rem;
  margin: 0.13333333rem 0;
}
.nav1 a span {
  color: #666;
  font-size: 0.16rem;
}
li {
  list-style-type: none;
}
.tab {
  width: 10rem;
}
.tab_list {
  position: fixed;
  z-index: 999;
  background-color: #ffffff;
  width: 10rem;
  height: 1.2rem;
  border-top: 0.01333333rem solid #ccc;
  bottom: 0rem;
}
.tab_list li {
  float: left;
  height: 1.2rem;
  line-height: 1.2rem;
  width: 25%;
  font-size: 0.26666667rem;
  text-align: center;
  color: #838080;
  cursor: pointer;
}
.item_info {
  padding: 0.26666667rem 0 0 0.26666667rem;
}
.item {
  display: none;
}
.swiper-container {
  width: 9.46666667rem;
  height: 4.26666667rem;
}
.swiper-container .swiper-slide {
  width: 3.33333333rem;
  text-align: center;
  font-size: 0.24rem;
  display: flex;
  margin-left: 8px;
  transition: 300ms;
  transform: scale(0.8);
}
.swiper-container .swiper-slide img {
  width: 3.33333333rem;
  height: 2.93333333rem;
}
.swiper-container .swiper-slide p {
  width: 3.33333333rem;
  font-size: 0.18666667rem;
  text-align: center;
  overflow: hidden;
  position: absolute;
  top: 3.73333333rem;
}
.banner3 {
  width: 10rem;
}
.banner3 img {
  width: 100%;
}
.window-slider {
  width: 8.66666667rem;
  height: 8.21333333rem;
  position: relative;
  left: 50%;
  margin-left: -4.33333333rem;
  background-color: #ffffff;
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}
.tl-window {
  border: solid 0.06666667rem #fff;
  border-right: solid 0.03333333rem #fff;
  border-bottom: solid 0.03333333rem #fff;
  border-top-left-radius: 0.2rem;
}
.tr-window {
  border: solid 0.06666667rem #fff;
  border-left: solid 0.03333333rem #fff;
  border-bottom: solid 0.03333333rem #fff;
  border-top-right-radius: 0.2rem;
}
.bl-window {
  border: solid 0.06666667rem #fff;
  border-right: solid 0.03333333rem #fff;
  border-top: solid 0.03333333rem #fff;
  border-bottom-left-radius: 0.2rem;
}
.br-window {
  border: solid 0.06666667rem #ffffff;
  border-left: solid 0.03333333rem #ffffff;
  border-top: solid 0.03333333rem #ffffff;
  border-bottom-right-radius: 0.2rem;
}
.window-slider > div:nth-child(odd) {
  float: left;
}
.window-slider > div:nth-child(even) {
  float: right;
}
.window-slider > div {
  position: relative;
  width: 4rem;
  height: 4rem;
  overflow: hidden;
}
.window-slider > div > img {
  position: relative;
  width: 4rem;
  height: 4rem;
}
.window-slider > div > img:nth-child(n+2) {
  display: none;
}
.youxiu {
  width: 10rem;
}
.youxiu .zzz {
  width: 90%;
  margin: 0 auto;
}
.youxiu .zzz img {
  width: 50%;
  height: 3.2rem;
  float: left;
}
.youxiu .zzz dl {
  display: block;
  height: 3.2rem;
  background-color: #fff;
}
.youxiu .zzz dl dt {
  padding-top: 0.66666667rem;
  padding-left: 60%;
  font-size: 0.37333333rem;
  line-height: 0.4rem;
  color: #0285b4;
}
.youxiu .zzz dl dd {
  padding-left: 60%;
  font-size: 0.32rem;
  line-height: 0.73333333rem;
  color: #0285b4;
}
.youxiu .zzz dl span {
  display: block;
  padding-left: 60%;
  font-size: 0.32rem;
  line-height: 0.6rem;
  color: #0285b4;
}
.youxiu .z {
  margin-bottom: 1.6rem;
}
.youxiu .zzzz {
  width: 90%;
  margin: 0 auto;
}
.youxiu .zzzz img {
  width: 50%;
  margin-right: 0;
  height: 3.2rem;
}
.youxiu .zzzz dl {
  width: 50%;
  float: left;
  display: block;
  height: 3.2rem;
  background-color: #fff;
}
.youxiu .zzzz dl dt {
  padding-top: 0.66666667rem;
  padding-left: 20%;
  font-size: 0.37333333rem;
  line-height: 0.4rem;
  color: #0285b4;
}
.youxiu .zzzz dl dd {
  padding-left: 20%;
  font-size: 0.32rem;
  line-height: 0.73333333rem;
  color: #0285b4;
}
.youxiu .zzzz dl span {
  display: block;
  padding-left: 20%;
  font-size: 0.32rem;
  line-height: 0.6rem;
  color: #0285b4;
}
#share {
  position: fixed;
  bottom: 100px;
  right: 0;
  width: 50px;
  zoom: 1;
  z-index: 999;
}
#share a {
  background-image: url(../imgs/backtop_01.png);
  background-repeat: no-repeat;
  display: block;
  width: 50px;
  height: 50px;
  margin-bottom: 2px;
  overflow: hidden;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: #d8e0e5;
  text-align: center;
}
#share .sina {
  background-position: 8px 5px;
  position: absolute;
  bottom: 70px;
}
#share a.sina:hover {
  background-color: #0285b4;
}
#share .tencent {
  background-position: 13px -148px;
  position: absolute;
  bottom: 0;
}
#share a.tencent:hover {
  background-color: #0285b4;
}
#share a#totop {
  background-position: 7px -58px;
  position: absolute;
  bottom: 140px;
  cursor: pointer;
}
#share a#totop:hover {
  background-color: #0285b4;
}
.erweima {
  width: 120px;
  height: 120px;
  position: absolute;
  top: -85px;
  right: 80px;
  background: #0285b4;
  display: none;
}
.erweima img {
  width: 100px;
  display: block;
  margin: 5px auto 0;
}
.erweima::after {
  content: "";
  position: absolute;
  top: 40px;
  right: -20px;
  border-width: 10px;
  border-style: dashed solid dashed dashed;
  border-color: transparent transparent transparent #0285b4;
}
